<div class="jumbotron bg-light mt-4">
  <h1 class="display-4">Evervote</h1>
  <p class="lead">This is a new UMSU voting system to provide live, accessible, liquid voting.</p>
  <hr class="my-4">
    <p>Click to learn more or sign in/sign up to use.</p>
  <p class="lead">
    <a class="btn btn-primary btn-purple" href="/intro" role="button">Learn more</a>
  </p>
</div>
